:root {
    --sidebar: hsla(197, 37%, 24%, 1);
    --header: hsla(210, 30%, 35%, 1);
    --bg-gray: hsl(0, 0%, 94%, 1);
    --white: hsl(0, 0%, 100%, 1);
    --dark: hsl(0, 0%, 0%, 1);
    --c1: hsla(173, 58%, 39%, 1);
    --c2: hsla(43, 74%, 66%, 1);
    --c3: hsla(27, 87%, 67%, 1);
    --c4: hsla(12, 76%, 61%, 1);
    --c5: hsl(195, 62%, 61%);
}